// Define variables for your color scheme

// For example:
$blue: #2675e5;
$blue-gray: #d8ddf2;
$dark-blue: #2A3654;
$green: #1EDD88;
$orange: #E67E22;
$red: #FD1015;
$yellow: #FFC65A;



$gray-100: #F4F6F9;
$gray-300: #A7B2C6;
$gray: #6b778e;
$black: #182335;




