// Define variables for your color scheme

// For example:
$blue: #2675e5;
$blue-gray: #F5F9FF;
$blue-gray-darker: #D8DDF2;
$dark-blue: #2A3654;
$green: #1EDD88;
$orange: #E67E22;
$red: #FF3366;
$yellow: #FFD35B;



$gray-100: #FAFCFF;
$gray-200: #F4F6F9;
$gray-300: #A7B2C6;
$gray: #6b778e;
$black: #182335;



