<table style="border-radius: 1px;" align="center"; bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" class="wrapper" class="container">
  <tbody>

    <tr>
      <td height="70" style="font-size:70px; line-height:70px;" class="mobileOn">&nbsp;</td>
    </tr>

    <tr>
      <td>
        <table  align="center" width="600" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Bonjour <%= @user.first_name %>,<br>
            </td>
          </tr>

          <tr>
            <td height="15" style="font-size:15px; line-height:15px;" class="mobileOn">&nbsp;</td>
          </tr>

        <!-- Message du mail -->

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Un nouveau visiteur vient de s'inscrire sur le formulaire de la page <span style="font-weight:bold;">en construction</span>, voici ces coordonnées:
            </td>
          </tr>

          <tr>
            <td height="30" style="font-size:30px; line-height:30px;" class="mobileOn">&nbsp;</td>
          </tr>

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; font-style:italic; text-align: left; font-size: 14px; color:rgba(0,0,0,.6); line-height: 22px;">
              Nom:
            </td>
          </tr>


        <!-- Nom du mail -->
          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #000; line-height: 22px;">
              <%= @form.full_name %>
            </td>
          </tr>

          <tr>
            <td height="20" style="font-size:20px; line-height:20px;" class="mobileOn">&nbsp;</td>
          </tr>

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; font-style:italic;text-align: left; font-size: 14px; color:rgba(0,0,0,.6); line-height: 22px;">
              Email:
            </td>
          </tr>


        <!-- Mail du mail -->
          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #000; line-height: 22px;">
              <%= @form.email %>
            </td>
          </tr>


          <tr>
            <td height="20" style="font-size:20px; line-height:20px;" class="mobileOn">&nbsp;</td>
          </tr>

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; font-style:italic;text-align: left; font-size: 14px; color:rgba(0,0,0,.6); line-height: 22px;">
              Message:
            </td>
          </tr>


        <!-- Message du mail -->
          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #000; line-height: 22px;">
              <%= @form.description %>
            </td>
          </tr>

          <tr>
            <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
          </tr>


          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              À bientôt,<br>
              L'équipe de Financer Mon Autonomie.
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
    </tr>

  </tbody>
</table>
