


<table style="border-radius: 1px;" align="center"; bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" class="wrapper" class="container">
  <tbody>

    <tr>
      <td height="70" style="font-size:70px; line-height:70px;" class="mobileOn">&nbsp;</td>
    </tr>

    <tr>
      <td>
        <table  align="center" width="600" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Bonjour <%= "#{@user.first_name} #{@user.last_name}" %>,<br>
            </td>
          </tr>

          <tr>
            <td height="15" style="font-size:15px; line-height:15px;" class="mobileOn">&nbsp;</td>
          </tr>

          <!-- Message du mail -->

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Bienvenue sur la plateforme <span style="background-color: #F5F9FF; padding:0px 2px 0px 2px;">Financer mon autonomie!</span> Votre inscription a bien été prise en compte, vous pouvez dès à présent accèder à votre espace personnel.
            </td>
          </tr>

          <tr>
            <td height="15" style="font-size:15px; line-height:15px;" class="mobileOn">&nbsp;</td>
          </tr>

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Pour vous aider dans l'élaboration de votre projet de financement, <span style="font-weight: bold;">un conseiller vous accompagnera</span> dans l'ensemble de votre parcours sur notre plateforme.
            </td>
          </tr>

          <tr>
            <td height="20" style="font-size:20px; line-height:20px;" class="mobileOn">&nbsp;</td>
          </tr>

          <!-- Lien du mail -->

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #000; line-height: 22px;">
              <%= link_to projet_user_url(@user), {  target: "_blank", style: "color:#2675E5; text-decoration:underline;"} do %>
              <p style="margin:0">Rendez-vous sur votre espace personnel</p>
                <% end %>
            </td>
          </tr>

          <tr>
            <td height="20" style="font-size:20px; line-height:20px;" class="mobileOn">&nbsp;</td>
          </tr>

          <tr>
            <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
              Merci de votre confiance,<br>
              L'équipe de Financer mon autonomie.
            </td>
          </tr>

        </table>
      </td>
    </tr>

    <tr>
      <td height="70" style="font-size:70px; line-height:70px;" class="mobileOn">&nbsp;</td>
    </tr>

  </tbody>
</table>











