#blue-CTA{
  background-color: $blue;
  position: relative;
  padding: 40px 30px 160px;
  border-radius: 3px;
  max-width: 350px;
  margin-left: 120px;
  // margin-top: 60px;
}
#blue-CTA.sticky{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.h4-with-number{
  position: relative;
  margin-top: 50px;
  span {
    font-size: 80px;
    color: $gray;
    opacity: .3;
    position: absolute;
    top: -50px;
    left: -30px;
    z-index: -1;
  }
}

.loading-analyse-icon{
  height: 30px;
  width: 40px;
  background-image: url(https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}
