#soon_page {
  padding: 2%;
  height: 100vh;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  max-height: 900px;
  margin: auto;
  /* Classes générales */
  html {
    font-size: 18px;
    font-weight: 300;
  }

  body {
    width: 100%;
    height: 100vh;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    color: $gray;
    padding-top: 30px;
  }

  p, h1, h2 {
    margin: 0;
  }

  h1, h2 {
    line-height: 1.2;
    color: $black;
  }


  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    font-size: .8rem;
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    transition: opacity.3s;
  }

  i {
    font-size: 1.4rem;
    color: $blue;
  }

  /* Container middle */
  .container-middle {
    margin: 0 auto;
    max-width: 550px;
  }


  /* Classes générales */
  .logo img {
    max-width: 150px;
  }

  .logo {
    text-align: center;
  }

  .titre {
    margin-top: 40px;
    text-align: center;
  }

  /* Section Newsletter */
  .footer-newsletter-input {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .form-control {
      font-size: .9rem;
      font-weight: 400;
      color: $gray;
      padding-left: 20px;
      border-radius: 3px;
    }
    #contact_form_email {
      margin-right: 10px;
    }
    #thank_message {
      flex: 1 0 auto;
    }
  }
  .form-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 100%;
  }
  /* Bouton style 1 */
  .footer-newsletter-btn {
    margin-top: 10px;
    flex: 0 0 20%;
    background-color: $blue;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    padding: 11px 35px;
    border-radius: 3px;
    border: solid 1px $blue;
    transition: opacity.3s;
    cursor: pointer;
    width: 40%;
    float: right;
  }

  .footer-newsletter-btn:hover {
    opacity: .7;
  }

  .image {
    height: 100%;
    max-width: 550px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .copyright {
    text-align: center;
    a {
      font-size: .6rem;
      color: $blue;
      font-weight: 400;
    }
  }


  @media only screen and (max-width: 900px) {

    .footer-newsletter-input {
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 50px;
      flex-wrap: wrap;
      // justify-content: center;
    }

    .copyright {
      padding-right: 40px;
      padding-left: 40px;
    }

    .footer-newsletter-input input {
      flex: 0 0 100%;
      margin-right: 0;
    }

    .footer-newsletter-btn {
      margin-top: 15px;
    }

    .image {
      margin-top: 60px;
      margin-bottom: 35px;
      height: 275px;
      width: 90%;
    }

  }
}
