.app-container{
  padding: 30px 60px;
}


.panneau_projet {
  opacity: 1;
  transition: .5s;
}
.panneau_projet_hidden {
  opacity: 0;
  transform: translateY(20px);
}

.titre-filtre{
  cursor: pointer;
  font-size: 14px;
  color: $black;
  padding-bottom: 15px;
  transition: .5s;
  span{
    padding: 3px 7px;
    border-radius: 10px;
    background-color: $gray-300;
    font-size: 12px;
  }
}
.active.titre-filtre{
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 3px solid $blue;
  span{
    background-color: $blue;
    color: white;
  }
}

.point{
  padding: 0 0 0 13px;
  position: relative;
  margin-bottom: 25px;
}
.point:before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 5px;
}
.point-bleu.point:before{
  background-color: $blue;
}
.point-jaune.point:before{
  background-color: $yellow;
}
.point-vert.point:before{
  background-color: $green;
}


.chat-advisor{
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: $blue;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .message-unread{
    border-radius: 50%;
    background-color: $red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
  }
  img{
    width:  30px;
    height: 30px;
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

















