.doc-to-send{
  border-radius: 3px;
  border: 1px solid $blue-gray;
  padding: 10px 15px;
  width: calc(33% - 15px);
  min-width: 220px;
  margin: 0 15px 20px 0;
}

.logo-financeur{
  border-radius: 50%;
  background-color: $black;
  min-height: 20px;
  min-width: 20px;
  // background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557377459/logo_financeurs/vdm-ld_zmkknk.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
