@media screen and (max-width: 850px){
  .app-container{
    padding: 30px;
  }

  .menu-principal{
    min-width: calc(100vw - 86px);
    margin-left: 86px;
  }
  .menu-principal > div{
    min-width: calc(100vw - 86px);
    max-width: unset;
    padding: 30px;
  }
  .menu-principal > div > div {
    min-width: calc(100vw - 146px);
  }
  // pour la page edit
  .menu-principal.hidden{
    display: none;
    > div{
      min-width: 0;
      width: 0;
      padding: 30px 0;
      border-right: 0;
    }
  }
  .edit-menu-mobile-hidden{
    .app-navbar{
      padding: 30px 0;
      min-width: 0;
      width: 0;
      overflow-x: hidden;
    }
  }



  .menu_mobile{
    position: fixed;
    z-index: 3;
  }
  .menu_mobile.hidden{
    .menu-principal{
      min-width: 0;
      margin-left: 0;
    }
    .menu-principal > div{
      min-width: 0;
      width: 0;
      max-width: unset;
      padding: 30px 0;
    }
  }
  .menu_mobile.hidden > div{
    .app-navbar{
      padding: 30px 0;
      min-width: 0;
      width: 0;
      overflow-x: hidden;
    }
  }

  .modal-cote{
    min-width: 100vw;
    position: fixed;
  }
  .modal-cote.modal-cote-hidden{
    min-width: 0vw;
  }
  .modal-cote.modal-cote-hidden > div{
    width: 0;
    height: 100vh;
    min-width: 0px;
    padding: 30px 0;
  }
  .modal-cote > div {
    min-width: 100vw;
    padding: 30px;
  }
  .modal-cote > div > div {
    min-width: calc(100vw - 146px);
  }
}
