.app-navbar{
  border-right: 2px solid $gray-200;
  background-color: white;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 1s;
  overflow-y: auto;
  min-width: 86px;
  .active{
    color: $blue !important;
    width: 100%;
    position: relative;
  }
  .active::before{
    content: "";
    height:  50px;
    width: 3px;
    background-color: $blue;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.logo-app{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557121109/icons/Symbole_1_afckho.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 40px;
  width: 40px;
}
