.btn-app-navbar{
  text-align: center;
  color: $gray-300;
  cursor: pointer;
  transition: .5s;
  p{
    font-size: 10px;
  }
  i{
    font-size: 25px;
  }
}
.btn-app-navbar:hover{
  color: $blue !important;
}

.navbar-quit{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// btn-apercu
  .btn-apercu{
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 3px;
    color: #D8DDF2;
    border: 1px solid #D8DDF2;
    transition: .5s
  }
  .btn-apercu:hover{
    color: $blue;
    border-color: $blue;
    .icon-eye{
      background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/co_rgb:2675e5,e_colorize:100,f_png,h_50,w_50/v1557384905/icons/eye_yskktm.svg);
    }
  }

// btn-evalutaion
  .btn-evalutaion{
    margin: 0 auto;
    width: fit-content;
    min-width: 210px !important;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: $blue-gray;
    color: $gray-300;
  }

// blue-gray-btn
  .blue-gray-btn{
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    background-color: $blue-gray;
    color: $blue;
    font-size: 12px;
    transition: .5s;
  }
  .blue-gray-btn:hover{
    background-color: $blue;
    color: $white;
  }
  .blue-gray-btn:disabled{
    cursor: not-allowed;
    color: $gray;
    background-color: $blue-gray;
  }

// btn-select-onglet
  .btn-select-onglet {
    cursor: pointer;
    padding: 15px;
    width: fit-content;
    background-color: rgba(255,255,255,.5);
    border-radius: 10px 10px 0 0;
    transition: .5s;
  }
  .btn-select-onglet.active {
    background-color: white;
  }
  .btn-select-onglet:hover {
    background-color: white;
  }

// btn-validation-infos
  #btn-validation-infos {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    border: none;
    background-color: $green;
    padding: 10px 30px;
    color: white;
    border-radius: 3px;
    opacity: 0;
    transition: .5s;
  }



















