<!-- html de l'application -->

<% if @user.is_a_client %>
  <div id="app" data-userid="<%= @user.id %>"></div>
<!-- fin -->


<% else %>
  <%= pluralize(@projects.count, 'Project') %>
  <%= pluralize(@clients.count, 'Client') %>
<% end %>
