<!-- html de l'application -->

<%# if @user.is_a_client %>
  <div id="app" data-userid="<%= @user.id %>" data-currentUserId="<%= @current_user.id %>"></div>

  <!-- <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> -->
