<div id="app" data-user_id="<%= @user.id %>" data-project_id="<%= @project.id %>"></div>


<h1><%= @user.first_name %></h1>


<!-- <h3>Call API pour formulaire <a href="/api/v1/formularies/<#%= @formulary.id %>">-> ici <-</a></h3> -->

<br><br>
<%= link_to "Call API", api_v1_user_project_path(@user, @project), class: "btn-blue" %>
