<footer>
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <p class="blue margin-bottom-30" style="font-weight: 500;">Financer mon autonomie</p>
      <p class="margin-bottom-30">8 rue de la porte<br>94370 Sucy-en-brie</p>
      <a href="mailto:bienvenue@financermonautonomie.fr">bienvenue@<br>financermonautonomie.fr</a>
    </div>
    <div class="col-lg-3 col-xs-12">
      <p class="blue margin-bottom-30 margin-top-60-xs" style="font-weight: 500;">À propos</p>
      <p class="margin-bottom-15"><%= link_to "Qui sommes-nous ?", equipe_path %></p>
      <p class="margin-bottom-15"><%= link_to "CGU & CGV", cgu_path %></p>
      <p><%= link_to "Protection des données", rgpd_path %></p>
    </div>
    <div class="col-lg-6 col-xs-12">
      <p class="black margin-bottom-30 margin-top-60-xs" style="font-weight: 500;">Restez informé de notre actualité</p>
      <div class="row margin-bottom-30">
        <div class="col-lg-8 input-wth-icon">
          <i class="fas fa-envelope"></i>
          <input class="gray-300-border" type="text" placeholder="Entrez votre mail" style="width: 100%;">
        </div>
        <div class="col-lg-4 margin-top-15-xs">
          <button class="btn-blue">S'inscrire</button>
        </div>
      </div>
      <div class="row">
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-facebook-f" style="font-size: 1.3rem;"></i>
        </a>
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-linkedin-in" style="font-size: 1.3rem;"></i>
        </a>
        <a href="" class="col-lg-2 gray-300 d-none d-sm-block">
          <i class="fab fa-twitter" style="font-size: 1.3rem;"></i>
        </a>
      </div>
    </div>
  </div>
  <hr class="margin-top-120 ligne-horizontal gray-300-background">
  <div class="row">
    <p class="gray-100 col-lg-5 col-xs-12" style="color: #6b778e; font-size: .8rem; font-weight: 400;">Tous droits réservés © 2019 <a class="blue" href="http://www.bel-avie.com/" target="_blank" style="color: #6b778e; font-size: .8rem; font-weight: 400;">Bel'Avie</a></p>
    <p class="gray-100 offset-lg-2 col-lg-5 col-xs-12 text-align-right text-align-left-xs" style="color: #6b778e; font-size: .8rem; font-weight: 400;">Créé par <a class="link-avem" href="https://www.avemcreation.com/" target="_blank" style="font-size: .8rem; font-weight: 400;">Avem Création</a></p>
  </div>
</footer>
