<div id="navbar" class="navbar navbar-expand-sm navbar-lewagon fixed" style="z-index: 5;">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= render "shared/logo" %>

  <% end %>

  <div class="flex align-items-center">
    <a class="margin-right-30 d-none d-sm-block">Qui sommes-nous ?</a>
    <% if user_signed_in? %>
      <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "nav-link btn-connexion" %>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn-connexion" %>
    <% end %>
  </div>
</div>

<div class="navbar-padding"></div>

<script>

</script>
