<img class="absolute" style="top: 0; right: 0; width: 50vw;" src="https://res.cloudinary.com/financermonautonomie/image/upload/v1559381956/Illu%20HP/BG_djr1o2.svg" alt="">
<%= render "shared/navbar" %>

<div class="container">

  <div class="row">
    <div class="col-lg-5 col-xs-12">

      <h1 class="margin-top-120">Oops !</h1>
      <p>Il semble que la page que vous cherchez n'existe pas actuellement.</p>
      <p class="margin-top-120 margin-bottom-30 gray-300">Error code: 500 internal server error</p>

      <%= link_to "Retour à l'accueil", root_path, class: "btn-blue" %>


    </div>
    <div class="image_500 col-lg-7 d-none d-sm-block"></div>
  </div>

</div>




