<div id="formulary" style="margin: 2%">
  <%= render 'formularies/form', formulary: @formulary %>
</div>

<script>
  // js repeat in update.js.erb and create.js.erb => DRY

  let inputs = Array.from(document.getElementsByTagName('input'))
  let selecteds = Array.from(document.getElementsByTagName('select'))
  const submit = document.getElementById('send_formulary')

  inputs.forEach((input) => {
    input.addEventListener('change', function(){
      submit.click()
    })
  })
  selecteds.forEach((input) => {
    input.addEventListener('change', function(){
      submit.click()
    })
  })
</script>
