<%= render "shared/navbar" %>

<div class="container">
  <div class="row margin-top-60">
    <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Centre de protection des données</h1>

    <p class="col-lg-12 text-align-justify" style="white-space: pre-line">
      Introduction aux CGU/CGV pour la vente de prestations de services en ligne
      Les conditions générales d’utilisation (CGU) sont les informations qui, disponibles sur un site internet, apprennent à son visiteur ses modalités de fonctionnement et les conditions de responsabilité de l’éditeur, ce qui permet généralement d’éviter ou de réduire de nombreux conflits. La loi du 21 juin 2004 pour la confiance dans l’économie numérique encadre les obligations informatives mises à la charge des vendeurs en ligne, et exige ainsi dans de nombreux cas la communication de CGU, mais aussi de CGV dans le cadre d’un site marchand.

      Les conditions générales de vente (CGV) regroupent quant à elles les modalités de vente dans le cadre d’un contrat de vente de produits ou de prestation de services, qu’il soit exécuté en personne ou sur internet, et à l’adresse de consommateurs ou de professionnels. Les articles L. 441-6 du Code de commerce et L. 112-1 et suivants du Code de la consommation fixent pour le prestataire de service une obligation de communication de ces CGV à l'acheteur, qu'il s'agisse d'un professionnel ou d'un particulier.

      Condensées en un seul document, ces conditions générales constituent donc une source d’information essentielle pour le visiteur d’un site de commerce électronique, puisqu’elles définissent les conditions de fonctionnement et d’utilisation du site autant que les modalités de vente des prestations de services proposées dessus. Dans le cadre du e-commerce qui se développe toujours plus, le législateur a ainsi tenté d’assurer une meilleure information précontractuelle pour le consommateur, afin d’éviter un vide juridique dans ce domaine en pleine expansion. Mais pour vous et non seulement pour le respect des textes, des CGU/CGV bien rédigées représentent une garantie non négligeable face aux aléas d’une activité commerciale électronique.

      Quand utiliser ce modèle de document ?
      Pour déterminer si cet exemple type de CGU/CGV est le plus adapté à votre site, il faut catégoriser l’activité que vous y effectuez. En effet, selon que vous vendez des produits ou des services, que vous les proposez en ligne ou hors ligne, et ce à l’attention d’acheteurs professionnels ou de simples consommateurs, vous ne serez pas soumis tout à fait aux mêmes règles.

      Si vos clients sont des professionnels comme vous, c’est-à-dire des entreprises ou éventuellement d'autres sites internets  (on parle alors de relation BtoB, Business to Business en anglais), la rédaction de vos conditions générales est soumise au régime prévu dans le Code du commerce. A l’inverse, si vos acheteurs sont des particuliers ou des professionnels contractant pour les besoins de leur vie personnelle, il sont qualifiés de consommateurs au sens du Code de la consommation que vous devez alors respecter (il s'agit là d'une relation BtoC, Business to Consumer).

      Quant au type d’activité exercée, il convient de déterminer si vous fournissez des produits, c’est-à-dire des biens, ou si au contraire vous effectuez des prestations de service auprès de vos clients (service à domicile, service informatique,…). Cette distinction peut se révéler complexe pour certaines activités qui réunissent ces deux aspects. Doit alors primer la qualification de l’activité essentielle du contrat. Si vous hésitez sur ce point, avant de vous lancer dans la rédaction du document, il est toujours possible de consulter un avocat spécialisé qui répondra à toutes vos questions.

      Le modèle type que nous vous proposons de personnaliser ici est adapté si vous êtes l’éditeur d’un site internet de e-commerce, et plus précisément si vous vendez en ligne des prestations de service à des acheteurs dont le statut peut être celui de professionnels comme de consommateurs. Répondez alors à notre questionnaire, et le logiciel vous guide dans la création en ligne de vos CGU/CGV.

      L'essentiel du document
      Les conditions générales de vente et d’utilisation font apparaître de nombreux éléments, obligatoires ou non :

      Les modalités de règlement doivent figurer obligatoirement dans les conditions générales de vente,
      Les informations relatives à la vente à proprement parler doivent également être mentionnées dans les CGV,
      Les tarifs et les possibles réductions font aussi partie des informations obligatoires à mentionner dans les CGV,
      L’objet du site internet,
      Les modalités d’accès et d’utilisation du site (inscription, connexion…).
      Attention : Une rubrique mentions légales doit obligatoirement permettre l’identification et la prise de contact avec l’éditeur du site. Si elle ne figure pas dans les conditions générales d’utilisation et de vente, elle doit impérativement apparaître clairement sur le site.

      Par ailleurs, depuis la loi du 17 mars 2014 relative à la consommation, le professionnel a l'obligation de communiquer au consommateur, c'est-à-dire au client non-professionnel, préalablement à la conclusion de tout contrat :

      Les caractéristiques essentielles du service proposé ;
      Le prix des services et les coûts afférents ;
      La date ou le délai de réalisation de la prestation ;
      Les informations relatives à l’identité du vendeur (coordonnées postales, téléphoniques, électroniques, activités exercées) ; et
      Les informations relatives aux garanties légales et à leurs modalités de mise en oeuvre.
      Que faire une fois le document rédigé ?
      Les conditions générales de vente et d’utilisation sont opposables à l’utilisateur uniquement si ce dernier les a expressément acceptées. Une case à cocher de façon électronique lui est généralement présentée avant la finalisation de sa commande ou de son achat. La cocher lui permet de reconnaître qu’il a pris connaissance des conditions générales de vente et d’utilisation et qu’il les accepte.

      Une fois vos CGU/CGV rédigées et téléchargées, il faut donc les rendre accessibles simplement aux visiteurs du site, et vous assurer qu’ils en prennent connaissance avant tout achat. En effet, dès lors qu’il s’agit d’une obligation d’information pré-contractuelle, elle doit être communiquée aux visiteurs du site avant qu’ils ne s’engagent, et non après.

      A la fin du questionnaire, vous avez la possibilité de demander une relecture de votre document par un avocat spécialisé.

      Questions fréquentes
      Est-il obligatoire de communiquer des CGU/CGV si les mentions légales sont déjà accessibles sur le site ?
      OUI, les mentions légales et les CGU ou les CGV sont des éléments différents, l’un ne pouvant remplacer l’autre bien que les mentions légales du site puissent être renseignées dans les CGU. En effet, alors que les CGU décrivent les modalités d’utilisation du site et les CGV les conditions de la vente qu’il propose, les mentions légales sont indépendantes de l’activité et exigées pour tout type de site afin de permettre aux visiteurs de pouvoir identifier et contacter l'éditeur du site si nécessaire.

      Peut-on reprendre les CGU/CGV d’un autre site ?
      NON, les CGV notamment doivent être personnalisées, et le fait de copier les CGU et/ou les CGV d’un autre site est passible de sanctions. Bien que la rédaction de vos conditions générales puisse sembler compliqué, vous êtes donc tenu de les rédiger en les adaptant au mieux à votre site, ce que permet notre questionnaire.
    </p>
  </div>
</div>

<%= render "shared/footer" %>
