<div class="container">

  <!-- Pourquoi choisir financer mon autonomie -->
    <div class="row margin-top-60">
      <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Pourquoi choisir financer mon autonomie ?</h1>
      <p class="col-lg-8 offset-lg-2 col-xs-12 text-align-center margin-bottom-60">Pour vous permettre de vivre, chaque jour, des moments de bonheur</p>
    </div>

    <div class="row margin-top-60">
      <p class="col-lg-3 dark-blue">
        Nous transformons des décisions complexes en situations agréables et plus faciles à vivre grâce à notre expertise humaine et une technologie puissante.
      </p>
      <p class="col-lg-4 offset-lg-1">
        FinancerMonAutonomie facilite l’accès des personnes en situation de handicap à un logement adapté correspondant à leurs attentes et besoins. En alliant l’expertise de professionnels médico-sociaux et la technologie d’une intelligence artificielle, cette plateforme web résout les difficultés liées aux demandes de financements propres aux projets d’adaptation de logement.
      </p>
      <p class="col-lg-4">
        En effet, FinancerMonAutonomie informe, en quelques minutes sur les aides financières pouvant être allouées et apporte des conseils personnalisés sur l’élaboration des demandes de financement, grâce à un expert. <br><br>
        <strong class="blue">FinancerMonAutonomie est le premier conseiller digital en financement pour l’adaptation du logement au handicap.</strong>
      </p>
    </div>

    <div class="row margin-top-60">
      <div class="col-lg-8">
        <div class="qsn-v1"></div>
      </div>
      <div class="col-lg-4 relative" style="height: 100vh;">
        <div class="qsn-1"></div>
        <p class="absolute" style="bottom: 0;">FinancerMonAutonomie est une plateforme web, qui facilite l’accès des personnes en situation de handicap à un logement adapté à leurs besoins.</p>
      </div>
    </div>

  <!-- Présentation équipe -->
    <div class="row margin-top-120">
      <h1 class="col-lg-7">Notre équipe d'ergothérapeute.</h1>
      <p class="col-lg-7 margin-top-60">FinancerMonAutonomie fait travailler, ensembles, des professionnels médico-sociaux spécialisés sur l’adaptation du logement au handicap et spécialisés en développement informatique. <br><br>Nous allions efficacement nos expertises pour proposer l’expérience la plus agréables possible aux utilisateurs.</p>
    </div>

    <div class="row margin-top-60">
      <div class="col-lg-3">
        <div class="adrien"></div>
        <h3 class="text-align-center margin-top-30">Adrien Euphrasie</h3>
        <p class="text-align-center">Co-fondateur, responsable du développement technique</p>
      </div>
      <div class="col-lg-3">
        <div class="bastien"></div>
        <h3 class="text-align-center margin-top-30">Bastien Zemb</h3>
        <p class="text-align-center">Co-fondateur, responsable du développement technique</p>
      </div>
      <div class="col-lg-3">
        <div class="marine"></div>
        <h3 class="text-align-center margin-top-30">Marine Charet</h3>
        <p class="text-align-center">Co-fondateur, responsable du développement technique</p>
      </div>
      <div class="col-lg-3">
        <div class="megane"></div>
        <h3 class="text-align-center margin-top-30">Mégane Voiriot</h3>
        <p class="text-align-center">Co-fondateur, responsable du développement technique</p>
      </div>
    </div>

  <!-- Pourquoi financer mon autonomie -->
    <div class="row margin-top-120">
      <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Pourquoi choisir financer mon autonomie ?</h1>
      <div class="col-lg-5 margin-top-30">
        <i class="blue fas fa-stopwatch"></i>
        <p class="bold black">Nous transformons des situations complexes</p>
        <p>FinancerMonAutonomie est une plateforme web, qui facilite l’accès des personnes en situation de handicap à un logement adapté à leurs besoins. En alliant l'expertise d'ergothérapeutes professionnels et la technologie d'une plateforme intuitive.</p>
      </div>
      <div class="col-lg-5 margin-top-30 offset-lg-2">
        <i class="blue fas fa-stopwatch"></i>
        <p class="bold black">Nous transformons des situations complexes</p>
        <p>FinancerMonAutonomie est une plateforme web, qui facilite l’accès des personnes en situation de handicap à un logement adapté à leurs besoins. En alliant l'expertise d'ergothérapeutes professionnels et la technologie d'une plateforme intuitive.</p>
      </div>
      <div class="col-lg-5 margin-top-30">
        <i class="blue fas fa-stopwatch"></i>
        <p class="bold black">Nous transformons des situations complexes</p>
        <p>FinancerMonAutonomie est une plateforme web, qui facilite l’accès des personnes en situation de handicap à un logement adapté à leurs besoins. En alliant l'expertise d'ergothérapeutes professionnels et la technologie d'une plateforme intuitive.</p>
      </div>
      <div class="col-lg-5 margin-top-30 offset-lg-2">
        <i class="blue fas fa-stopwatch"></i>
        <p class="bold black">Nous transformons des situations complexes</p>
        <p>FinancerMonAutonomie est une plateforme web, qui facilite l’accès des personnes en situation de handicap à un logement adapté à leurs besoins. En alliant l'expertise d'ergothérapeutes professionnels et la technologie d'une plateforme intuitive.</p>
      </div>
    </div>

</div>


<%= render "shared/footer" %>
