<div class="container">

  <!-- Pourquoi choisir financer mon autonomie -->
    <div class="row margin-top-60">
      <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Pourquoi financer mon autonomie ?</h1>
      <p class="col-lg-8 offset-lg-2 col-xs-12 text-align-center margin-bottom-60">Profitez de la vie, nous simplifions vos décisions les plus complexes.</p>
    </div>

    <div class="row margin-top-60">
      <p class="col-lg-4 dark-blue" style="font-size: 1.2rem">
        Nous transformons des décisions complexes en situations agréables et plus faciles à vivre grâce à notre expertise humaine et une technologie intuitive.
      </p>
      <p class="col-lg-4">
        FinancerMonAutonomie facilite l’accès des personnes en situation de handicap à un logement adapté correspondant à leurs attentes et besoins. En alliant l’expertise de professionnels médico-sociaux et la technologie d’une intelligence artificielle, cette plateforme web résout les difficultés liées aux demandes de financements propres aux projets d’adaptation de logement.
      </p>
      <p class="col-lg-4">
        En effet, FinancerMonAutonomie informe, en quelques minutes sur les aides financières pouvant être allouées et apporte des conseils personnalisés sur l’élaboration des demandes de financement, grâce à un expert. <br><br>
        <strong class="blue">FinancerMonAutonomie est le premier conseiller digital en financement pour l’adaptation du logement au handicap.</strong>
      </p>
    </div>

    <div class="row margin-top-60">
      <div class="col-lg-8 d-none d-md-block">
        <div class="qsn-v1"></div>
      </div>
      <div class="col-lg-4 relative" style="height: 100vh;">
        <div class="qsn-1"></div>
        <p class="absolute" style="bottom: 0;">Toute l'équipe de Financer Mon Autonomie vous accompagne lors de votre expérience sur notre plateforme.</p>
      </div>
    </div>

  <!-- Présentation équipe -->
    <div class="row margin-top-120">
      <h1 class="col-lg-7">Notre équipe d’experts médico-sociaux.</h1>
      <p class="col-lg-7 margin-top-60">FinancerMonAutonomie fait travailler, ensembles, des professionnels médico-sociaux spécialisés sur l’adaptation du logement au handicap et spécialisés en développement informatique.
     <br><br>
      Nous allions efficacement nos expertises pour proposer l’expérience la plus agréables possible aux utilisateurs.</p>
    </div>

    <div class="row margin-top-60">
      <div class="col-lg-3">
        <div class="adrien"></div>
        <h3 class="text-align-center margin-top-30">Adrien Euphrasie</h3>
        <p class="text-align-center">Co fondateur, Responsable du développement technique</p>
      </div>
      <div class="col-lg-3 margin-top-60-xs">
        <div class="bastien"></div>
        <h3 class="text-align-center margin-top-30">Bastien Zemb</h3>
        <p class="text-align-center">Co fondateur, Responsable du développement partenarial</p>
      </div>
      <div class="col-lg-3 margin-top-60-xs">
        <div class="marine"></div>
        <h3 class="text-align-center margin-top-30">Marine Charet</h3>
        <p class="text-align-center">Conseillère sociale</p>
      </div>
      <div class="col-lg-3 margin-top-60-xs">
        <div class="megane"></div>
        <h3 class="text-align-center margin-top-30">Mégane Voiriot</h3>
        <p class="text-align-center">Ergothérapeute</p>
      </div>
    </div>

  <!-- Pourquoi financer mon autonomie -->
    <div class="row margin-top-120">
      <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Notre mission au quotidien.</h1>
      <div class="col-lg-5 margin-top-30">
        <i class="blue fas fa-stopwatch"></i>
        <p class="bold black">Informer en vous faisant gagner du temps</p>
        <p>Nous vous évitons une perte de temps considérable. Nous avons développé une intelligence artificielle capable de cibler, dans la jungle des dispositifs de financements et d’actions sociales, celui ou ceux qui correspondent à votre situation. Tout cela en quelques minutes, disponible partout et tout le temps.</p>
      </div>
      <div class="col-lg-5 margin-top-30 offset-lg-2">
        <i class="blue fas fa-info-circle"></i>
        <p class="bold black">Informer de manière personnalisée</p>
        <p>Nous vous évitons un travail fastidieux en comparant, pour vous, vos données à plus de 200 critères d’éligibilité fixés par les financeurs légaux ou extra-légaux. FinancerMonAutonomie vous dira vers si vous êtes éligible et vers qui vous tourner le cas échéant.</p>
      </div>
      <div class="col-lg-5 margin-top-30">
        <i class="blue fas fa-user-friends"></i>
        <p class="bold black">Conseiller en échangeant avec un expert</p>
        <p>Nous n’oublions pas que le relationnel humain compte plus que tout. Grâce à votre espace personnel, vous êtes mis en relation avec un Conseiller-expert social qui analysera éventuellement encore plus finement votre situation et répondra à vos questions.</p>
      </div>
      <div class="col-lg-5 margin-top-30 offset-lg-2">
        <i class="blue fas fa-lock"></i>
        <p class="bold black">Garantir la sécurité de vos données</p>
        <p>Nous vous assurons de notre sérieux quant à la prise en compte de votre situation. Les professionnels qui traitent vos données sont couverts par le secret professionnel. De plus, seules les données nécessaires à la compréhension de votre situation sont recueillies et stockées de manière totalement sécurisée.</p>
      </div>
    </div>

</div>


<%= render "shared/footer" %>
