<%= render "shared/navbar" %>

<div class="container">

  <div class="row margin-top-120">
    <h1 class="col-lg-6 offset-lg-3 col-xs-12 text-align-center">Sam a analysé vos résultats ! <br>Voici les réponses</h1>

    <div class="col-lg-6" id="financeurs-potentiels" data-visitorid="<%= @visitor.id %>"></div> <!-- généré en js -->
    <div class="col-lg-6">
      <div id="blue-CTA">
        <h2 class="white margin-bottom-30">Poursuivez avec l'aide d'un conseiller</h2>
        <p class="white margin-bottom-30">En décidant de poursuivre vous pouvez accéder à votre espace dédié.</p>
        <%= link_to "Poursuivre l'inscription", new_user_registration_path, class: "btn white-background black" %>
        <img class="absolute" style="bottom: 0; right: 0; height: 200px;" src="https://res.cloudinary.com/financermonautonomie/image/upload/v1560519248/Illu%20HP/Illu_FMA_analyse_btn_wmjze0.svg" alt="">
      </div>
    </div>
  </div>

  <div class="row margin-top-120">
    <h1 class="col-lg-8 offset-lg-2 col-xs-12 text-align-center">Bénéficiez de l'assistance complémentaire d'un conseiller social</h1>

    <div class="col-lg-4">
      <div class="icon-anlyse1"></div>
      <h4 class="h4-with-number"><span>01</span>Accédez rapidement à votre espace personnel</h4>
      <p>Transmettez-nous l'ensemble des informations complémentaires sur votre foyer de manières sécurisées, et bénéficiez d’un espace de partage personnalisé et adapté à votre projet.</p>
    </div>
    <div class="col-lg-4">
      <div class="icon-anlyse2"></div>
      <h4 class="h4-with-number"><span>02</span>Échangez directement avec un expert</h4>
      <p>Lors de votre inscription un conseiller social dédié vous accompagne pour vous expliquer directement les démarches à accomplir. De plus, notre chatbot vous permet d'échanger rapidement avec ce dernier.</p>
    </div>
    <div class="col-lg-4">
      <div class="icon-anlyse3"></div>
      <h4 class="h4-with-number"><span>03</span>Disposez d’un kit de documents détaillé</h4>
      <p>Via votre espace personnel, votre conseiller mettre à disposition les ressources nécessaires (lettres types, dossiers, procédures, ...) pour que vous meniez à bien votre demande de financement.</p>
    </div>
  </div>
</div>


 <%# @testing_solutions.each do |key, value| %>
    <%# if value != true %>
      <!-- <li><%#= key %> <%#= value %></li> -->
    <%# end %>
<%# end %>

<!-- <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> -->
<%= render "shared/footer" %>


















