// a
  a{
    cursor: pointer;
    font-size: .94rem;
    font-weight: 400;
    transition: .3s;
  }
  a:hover{
    color: darken($blue, 15%) !important;
  }

  .link-avem{
    color: #4ECCA3;
    border-radius: 3px;
    padding: 3px 6px;
  }
  .link-avem:hover{
    color: white !important;
    background-color: #4ECCA3;
  }

// btn-blue
  .btn-blue{
    cursor: pointer;
    padding: 10px 30px;
    background-color: $blue;
    color: white;
    border-radius: 3px;
    border: 1px solid $blue;
    transition: 0.5s;
  }
  .btn-blue:hover{
    color: $blue;
    background-color: transparent;
  }
  @media screen and (max-width: 770px){
    .btn-blue{
      padding: 5px 10px;
    }
  }

// btn-gris
  .btn-gris{
    cursor: pointer;
    padding: 10px 30px;
    background-color: $gray-100;
    color: $dark-blue;
    border-radius: 3px;
    border: 1px solid $gray-100;
    transition: 0.5s;
  }
  .btn-gris:hover{
    color: $gray-100 !important;
    background-color: transparent;
  }
  @media screen and (max-width: 770px){
    .btn-gris{
      padding: 5px 10px;
      width: 100%;
    }
  }

// btn-light
  .btn-light{
    cursor: pointer;
    bottom: 0;
    left: 0;
    background-color: $gray-200;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: $blue;
    font-size: 14px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-light::after{
    content: "\f303";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  .btn-light:hover{
    color: $blue
  }

// btn-submit-form
  .btn-submit-form{
    right: 30px;
    top: 50%;
    transform: translatey(-50%);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
    background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557996651/icons/arrow_submit_mcnctt.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
