// a
  a{
    cursor: pointer;
    font-size: .94rem;
    font-weight: 400;
    transition: .3s;
  }
  a:hover{
    color: darken($blue, 15%) !important;
  }

// btn-blue
  .btn-blue{
    padding: 10px 30px;
    background-color: $blue;
    color: white;
    border-radius: 3px;
    border: 1px solid $blue;
    transition: 0.5s;
  }
  .btn-blue:hover{
    color: $blue;
    background-color: transparent;
  }
  @media screen and (max-width: 770px){
    .btn-blue{
      padding: 5px 10px;
    }
  }

// btn-gris
  .btn-gris{
    padding: 10px 30px;
    background-color: $gray-100;
    color: $dark-blue;
    border-radius: 3px;
    border: 1px solid $gray-100;
    transition: 0.5s;
  }
  .btn-gris:hover{
    color: $gray-100;
    background-color: transparent;
  }
  @media screen and (max-width: 770px){
    .btn-gris{
      padding: 5px 10px;
    }
  }
