#carousel_maquettes{
  .carousel-indicators{
    position: unset;
    justify-content: space-between;
    p{
      cursor: pointer;
      transition: 0.5s;
    }
    .active{
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }

  .carousel-control-prev, .carousel-control-next{
    top: 60px;
  }
}

.carousel_01{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560838674/Illu%20HP/maquettes/Document-soumettre_qvvchq.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_02{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560838674/Illu%20HP/maquettes/Rendez-vous_nmypxg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_03{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560838674/Illu%20HP/maquettes/Kit-financement_ppil73.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_04{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560838674/Illu%20HP/maquettes/Personnalise%CC%81_zjey9s.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_05{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560838673/Illu%20HP/maquettes/Reglages_rxxz5f.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
