#carousel_maquettes{
  .carousel-indicators{
    position: unset;
    justify-content: space-between;
    p{
      cursor: pointer;
      transition: 0.5s;
    }
    .active{
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }

  .carousel-control-prev, .carousel-control-next{
    top: 60px;
  }
}

.carousel_01{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous-vert1_irrlf1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_02{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous1_xprk1m.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_03{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Adrien_EUPHRASIE_mtztei.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_04{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous-vert1_irrlf1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_05{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous1_xprk1m.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
.carousel_06{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Adrien_EUPHRASIE_mtztei.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 860px;
  height: 530px;
}
