#formulary{
  overflow: scroll;
  height: 70vh;
}

.formulary-border{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 20px;
  background-image: linear-gradient(to bottom, white, transparent);
}

.message{
  padding: 5px 10px;
  border-radius: 3px;
  max-width: 80%;
  transition: 0.5s;
  margin-bottom: 20px;
  color: white;
}

.received{
  background-color: $gray-100;
  box-shadow: 7px 5px 10px rgba(0,0,0,.15);
  color: $black;
}

.sent{
  background-color: $blue;
  color: white;
  margin-left: 20%;
  text-align: right;
}

