#formulary{
  overflow: scroll;
  height: calc( 70vh - 90px);
}

.formulary-border{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 20px;
  background-image: linear-gradient(to bottom, white, transparent);
}

.message{
  display: inline-block;
  padding: 15px 30px;
  max-width: 80%;
  transition: 0.5s;
  margin-bottom: 20px;
  color: white;
  strong {
    color: $blue;
  }
}
.hintClick {
  color: $blue;
}
.received{
  background-color: $gray-100;
  color: $black;
  box-shadow: 7px 5px 10px rgba(0,0,0,.15);
  border-radius: 30px 30px 30px 1px;
  animation: apparition-received .7s ease-in-out;
}

.sent{
  float: right;
  background-color: $blue;
  margin-left: 20%;
  text-align: right;
  border-radius: 30px 30px 1px;
  animation: apparition-sent .7s ease-in-out;
}
.hint-message {
  color: $gray;
}

@keyframes apparition-sent {
  0% {
    transform: scale(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
@keyframes apparition-received {
  0% {
    transform: scale(0);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
