// 000.FMA
  .blue-gray-box{
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $blue-gray;
    background-color: $blue-gray;
    padding: 15px 20px;
    box-shadow: 0px 13px 40px rgba(43,55,85,.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s
  }
  .blue-gray-box:hover{
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid rgba(43,55,85,.06);
  }
  .blue-gray-box.vertical {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px;
  }

  .white-box{
    border-radius: 3px;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
    // box-shadow: 0px 13px 61px rgba(42,54,84,.15);
    box-shadow: 0px 3px 50px rgba(42, 54, 84, 0.05);
    input:focus {
      box-shadow: none !important;
    }
  }

  .dropdown-menu{
    right: 0 !important;
    left: unset !important;
    border: none;
    box-shadow: 0px 1px 5px rgba(0,0,0,.08);
    padding: 10px 5px;
    text-align: right;
    p, a{
      border-radius: 3px;
      width: 100%;
      padding: 5px 10px;
      transition: .5s;
      color: $black;
    }
    p:hover, a:hover{
      // color: $black !important;
      background-color: $blue-gray;
    }
  }
  .dropdown-toggle::after{
    cursor: pointer;
    margin-left: 0;
  }
  .dropdown-menu.show{
    display: flex;
    flex-direction: column;
  }
  .drop-menu-call.dropdown-menu.show{
    transform: translate3d(-40px, 0px, 0) !important;
  }


// Bordure
  .bordure-droite{
    border-right: 1px solid $gray;
  }
  .bordure-haut-bas{
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
  .bordure-bas{
    border-bottom: 1px solid $gray-200;
  }
  .bordure-bas-300{
    border-bottom: 1px solid $gray-300;
  }
  .gray-300-border{
    border: 1px solid $gray-300;
  }
  .gray-border{
    border: 1px solid $gray;
  }

// Cercle
  .cercle{
    border-radius: 100%;
  }

// Color
  .black{
    color: $black !important;
  }
  .blue{
    color: $blue !important;
  }
  .blue-background{
    background-color: $blue !important;
  }
  .blue-gray-background{
    background-color: $blue-gray !important;
  }
  .blue-gray-darker-background{
    background-color: $blue-gray-darker !important;
  }
  .dark-blue{
    color: $dark-blue !important;
  }
  .dark-blue-background{
    background-color: $dark-blue !important;
  }
  .gray-200{
    color: $gray-200 !important;
  }
  .gray-200-background{
    background-color: $gray-200 !important;
  }
  .gray-300{
    color: $gray-300 !important;
  }
  .gray-300-background{
    background-color: $gray-300 !important;
  }
  .gray{
    color: $gray !important;
  }
  .gray-background{
    background-color: $gray !important;
  }
  .green{
    color: $green !important;
  }
  .green-background{
    background-color: $green !important;
  }
  .red{
    color: $red !important;
  }
  .red-background{
    background-color: $red !important;
  }
  .red-border{
    border-color: $red !important;
  }
  .white{
    color: white !important;
  }
  .white-background{
    background-color: white !important;
  }

// Cursor
  .cursor-default{
    cursor: default !important;
  }
  .pointer{
    cursor: pointer !important;
  }
  .not-allowed{
    cursor: not-allowed !important;
  }

// Flex
  .flex{
    display: flex !important;
  }
  .space-between{
    justify-content: space-between !important;
  }
  .space-evenly{
    justify-content: space-evenly !important;
  }
  .space-between-vertical{
    flex-direction: column;
    justify-content: space-between;
  }

// Float
  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

// Focus & input
  input:focus, button:focus, select:focus, textarea:focus {
    border-color: $blue !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $blue !important;
  }

  input:focus.red, button:focus.red, select:focus.red, textarea:focus.red {
    border-color: $red !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $red !important;
  }

  input, button, select, textarea {
    font-size: 18px;
  }

// Grid
  .grid{
    display: grid;
  }
  .grid-column{
    grid-auto-flow: column;
  }
  .grid-col-span-2{
    grid-column: span 2;
  }

// Height
  .height-unset{
    height: unset !important;
  }

// Ligne
  .ligne-vertical{
    border: none;
    width: 1px;
    height: 100%;
    background-color: $gray;
  }
  .ligne-horizontal{
    border: none;
    background-color: $gray;
    height: 1px;
    width: 100%
  }

// Margin
  .margin-auto{
    margin: auto;
  }
  .margin-left-auto{
    margin-left: auto;
  }
  .no-margin{
    margin: 0 !important;
  }
  .margin-top-120{
    margin-top: 120px !important
  }
  .margin-top-60{
    margin-top: 60px !important
  }
  .margin-bottom-60{
    margin-bottom: 60px !important
  }
  .margin-bottom-30{
    margin-bottom: 30px !important
  }
  .margin-top-30{
    margin-top: 30px !important
  }
  .margin-left-30{
    margin-left: 30px !important
  }
  .margin-right-30{
    margin-right: 30px !important
  }
  .margin-bottom-15{
    margin-bottom: 15px !important
  }
  .margin-top-15{
    margin-top: 15px !important
  }
  .margin-left-15{
    margin-left: 15px !important
  }
  .margin-right-15{
    margin-right: 15px !important
  }
  .margin-right-5{
    margin-right: 5px !important
  }

  @media screen and (max-width: 991px){
    .no-margin-md{
      margin: 0 !important;
    }
    .margin-top-30-md{
      margin-top: 30px !important
    }
  }

  @media screen and (max-width: 770px){
    .no-margin-xs{
      margin: 0 !important;
    }
    .margin-bottom-30-xs{
      margin-bottom: 30px !important
    }
    .margin-top-30-xs{
      margin-top: 30px !important
    }
    .margin-top-60-xs{
      margin-top: 60px !important
    }
    .margin-left-30-xs{
      margin-left: 30px !important
    }
    .margin-right-30-xs{
      margin-right: 30px !important
    }
    .margin-bottom-15-xs{
      margin-bottom: 15px !important
    }
    .margin-top-15-xs{
      margin-top: 15px !important
    }
    .margin-left-15-xs{
      margin-left: 15px !important
    }
    .margin-right-15-xs{
      margin-right: 15px !important
    }
  }

// Opacity
  .opacity-0{
    opacity: 0 !important;
  }
  .opacity-1{
    opacity: 1 !important;
  }

// Padding
  .padding-100{
    padding: 100px;
  }
  .padding-horizontal-100{
    padding: 0 100px;
  }
  .padding-horizontal-15{
    padding: 0 15px;
  }
  .no-padding{
    padding: unset !important;
  }
  @media screen and (max-width: 770px){
    .no-padding-xs{
      padding: 0 !important;
    }
  }

// Position
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }
  .fixed{
    position: fixed;
  }

// Scroll
  .scroll{
    overflow-y: auto;
  }

// Text
  .capitalize{
    text-transform: capitalize;
  }
  .uppercase{
    text-transform: uppercase;
  }

  .center-text{
    display: grid;
    place-items: center center;
  }

  .bold{
    font-weight: bold;
  }
  .thin{
    font-weight: 100;
  }

  .font-12{
    font-size: 12px;
  }
  .font-14{
    font-size: 14px;
  }

  .text-align-right{
    text-align: right;
  }
  .text-align-center{
    text-align: center;
  }
  .text-align-justify{
    text-align: justify;
  }

  .absolute-center-vertical{ // Parent doit avoir position relative
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .absolute-center-horizontal{ // Parent doit avoir position relative
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .absolute-center{ // Parent doit avoir position relative
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .align-center{ // Parent doit avoir display flex/grid
    align-self: center;
  }

// Width
  .min-width-25{
    min-width: 25%;
  }
  .min-width-50{
    min-width: 50%;
  }
  .min-width-75{
    min-width: 75%;
  }
  .min-width-100{
    min-width: 100%;
  }
  .width-fit-content{
    width: fit-content;
  }
  .w-33{
    width: 33.3333%;
  }



@media screen and (max-width: 770px) {
  .col-xs-12{
    width: 100% !important;
  }
  .col-xs-6{
    width: 50% !important;
  }
  .text-align-center-xs{
    text-align: center;
  }
  .text-align-left-xs{
    text-align: left;
  }
}

input[type="range"]{
  width: unset;
}

.input-none > input {
   display: none;
}
