// co_rgb:A7B2C6,e_colorize:100,f_png/   ((,h_96,w_96))

.icon-align-left{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557292575/icons/align-left_olmyhr.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 12px;
}
.icon-arrow{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557229549/icons/Arrow-app_ldseva.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}
.icon-arrow-down{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557311015/icons/arrow_down-app_oqqqr9.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10px;
  width: 14px;
}
.icon-arrow-right-gray{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1559869846/icons/Arrow-right_cnr6p8.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 16px;
}
.icon-arrow-submit{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557996651/icons/arrow_submit_mcnctt.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 14px;
}
.icon-calendar{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557229131/icons/Calendar_wkkmmd.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}
.icon-doc{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1559877533/icons/document_hojbyz.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  min-width: 16px;
}
.icon-etoile{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/co_rgb:A7B2C6,e_colorize:100,f_png,h_50,w_50/v1557297420/icons/star_vhfgdd.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
}
.icon-eye{
  cursor: pointer;
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557384905/icons/eye_yskktm.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 14px;
  transition: .5s
}
.icon-eye:hover{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/co_rgb:2675e5,e_colorize:100,f_png,h_50,w_50/v1557384905/icons/eye_yskktm.svg);
}
.icon-live{
  border: 1px solid $black;
  border-radius: 3px;
  font-size: 9px;
  color: $black;
  padding: 0.5px 1.8px;
  // position: relative;
}
// .icon-live:before{
//   content: "";
//   background-color: red;
//   padding: 4px;
//   border-radius: 5px;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 1.8px;
//   opacity: 1;
//   animation: blinker 2s step-start infinite;
// }
.icon-live:after{
  content: "LIVE"
}

// @keyframes blinker {
//   50% {
//     opacity: 0;
//   }
// }





















