.hp_01{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856590/hp_01_w18xf7.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_02{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/hp_02_ouqddc.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_03{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/hp_03_a7sijq.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_04{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/hp_04_hrflqp.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.image-connexion{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556867008/07_sidebar_kcfbm2.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: calc(100vh - 100px);
}

.qsn-v1{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous-vert1_irrlf1.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
}
.qsn-1{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/qui-sommes-nous1_xprk1m.jpg);
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 60vh;
}

.adrien{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Adrien_EUPHRASIE_mtztei.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.bastien{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Bastien_ZEMB_jizdbr.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.marine{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Marine_CHARET_kyd3ee.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.megane{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Megane_VOIRIOT_qpgemf.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}





















