.hp_01{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856590/Illu%20HP/hp_01_w18xf7.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_02{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Illu%20HP/hp_02_ouqddc.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_03{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Illu%20HP/hp_03_a7sijq.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}
.hp_04{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Illu%20HP/hp_04_hrflqp.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.image-connexion{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556867008/Illu%20HP/07_sidebar_kcfbm2.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: calc(100vh - 100px);
}

.qsn-v1{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Belavie/qui-sommes-nous-vert1_irrlf1.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
}
.qsn-1{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Belavie/qui-sommes-nous1_xprk1m.jpg);
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 60vh;
}

.adrien{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Belavie/Adrien_EUPHRASIE_mtztei.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.bastien{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Belavie/Bastien_ZEMB_jizdbr.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.marine{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856588/Belavie/Marine_CHARET_kyd3ee.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.megane{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1556856587/Belavie/Megane_VOIRIOT_qpgemf.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.icon-anlyse1{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560519908/Illu%20HP/Illu_FMA_-03_anawu4.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 150px;
}
.icon-anlyse2{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560519908/Illu%20HP/Illu_FMA_-02_oa83om.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 150px;
}
.icon-anlyse3{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1560519908/Illu%20HP/Illu_FMA_-01_rxn0bg.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 150px;
}

.image_404{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557225317/Errors/404_FMA_r0jwnm.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: calc(100vh - 100px);
}
.image_500{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557225317/Errors/500_FMA_crztso.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: calc(100vh - 100px);
}
.image_422{
  background-image: url(https://res.cloudinary.com/financermonautonomie/image/upload/v1557225317/Errors/422_FMA_auhsma.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: calc(100vh - 100px);
}





















