.hp_01{
  background-image: url(/assets/hp_01.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_02{
  background-image: url(/assets/hp_02.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_03{
  background-image: url(/assets/hp_03.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_04{
  background-image: url(/assets/hp_04.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

