.hp_01{
  background-image: url(/assets/hp_01.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_02{
  background-image: url(/assets/hp_02.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_03{
  background-image: url(/assets/hp_03.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.hp_04{
  background-image: url(/assets/hp_04.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 75vh;
}

.qsn-v1{
  background-image: url(/assets/qui-sommes-nous-vert1.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
}
.qsn-1{
  background-image: url(/assets/qui-sommes-nous1.jpg);
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 60vh;
}

.adrien{
  background-image: url(/assets/Adrien_EUPHRASIE.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.bastien{
  background-image: url(/assets/Bastien_ZEMB.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.marine{
  background-image: url(/assets/Marine_CHARET.jpg);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}
.megane{
  background-image: url(/assets/Megane_VOIRIOT.jpg);
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 3px;
  margin: auto;
  height: 200px;
  width: 200px;
}





















