.inscription-newsletter{
  position: absolute;
  right : 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  .input-wth-icon{
    width: 20%;
  }
}

.inscription-newsletter-padding{
  padding-bottom: 112px;
}

@media screen and (max-width: 770px){
  .inscription-newsletter{
    flex-direction: column;
    padding: 30px;
    .input-wth-icon{
      width: 100%;
    }
  }
  .inscription-newsletter-padding{
    padding-bottom: 180px;
  }
}
