.navbar-lewagon {
  justify-content: space-between;
  width: 100vw;
  top: 0;
  padding: 20px 100px;
  transition: 0.5s
}

.navbar-padding{
  width: 100vw;
  padding: 50px;
}

.navbar-avatar{
  margin: 0 10px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  border: 1px solid $gray-300;
  position: relative;
  color: $blue;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-avatar.photo-compte{
  background-color: green;
}

@media screen and (max-width: 770px){
  .navbar-lewagon{
    padding: 20px;
  }
}
