// Select-fma
  /* The container must be positioned relative: */
  .select-fma {
    position: relative;
    font-family: Arial;
  }

  .select-fma select {
    display: none; /*hide original SELECT element: */
  }

  .select-selected {
    width: calc(100% - 40px);
    min-height: calc(1.5em + 0.75rem + 2px);
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $blue transparent transparent transparent;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent $blue transparent;
    top: 7px;
  }

  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: $black;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 40px;
    z-index: 99;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: $blue;
    color: white;
  }

// Selectize
  .selectize-input{
    border: 0 !important;
    box-shadow: unset !important;
  }
  .selectize-dropdown, .selectize-input, .selectize-input input{
    font-size: 1rem !important;
    color: $black !important;
  }
  .selectize-dropdown .active {
    background-color: $blue !important;
    color: white !important;
  }
  .selectize-dropdown .option, .selectize-dropdown .optgroup-header {
    padding: 10px !important;
  }
  .selectize-control.multi .selectize-input > div{
    background: $blue !important;
    color: white !important;
    padding: 7px 20px !important;
    border-radius: 50px;
  }
  .selectize-control.plugin-remove_button [data-value] .remove{
    border: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    line-height: 1;
    line-height: 0.5;
    font-size: 18px !important;
    width: 23px !important;
  }
  .selectize-dropdown{
    border: 0 !important;
  }

// react-dropdown-select
  .react-dropdown-select.react-dropdown-select {
    padding: 10px;
    background-color: #E8EDF4;
    border: none;
    color: $gray-300;
    font-size: 14px;
  }
  .react-dropdown-select-input {
    padding: 0;
  }

// react-widget
  input.rw-input-reset:focus {
      box-shadow: none !important;
  }

  li.rw-multiselect-tag {
    color: white;
    background-color: $blue;
    border: none;
  }
  .rw-list-option.rw-state-focus {
    border: none;
  }
  .rw-list .rw-list-option:hover, .rw-list .rw-list-option:hover.rw-state-focus {
    background-color: $blue;
    color: white;
    border-radius: 3px;
    border: none;
  }
  .rw-list .rw-list-option.rw-state-selected, .rw-list-option.rw-state-selected:hover{
    background-color: $gray-300 !important;
    border-color: $gray-300 !important;
    border-radius: 3px;
  }

