<div class="footer-newsletter-input" style="flex-direction: column; align-items: center;">
  <div id="thank_message">
    <h1>Merci pour votre insciption</h1>
  </div>
  <div class="footer-newsletter-btn">
    <%= link_to "Modifier", root_path %>
  </div>
</div>
