<body style="margin: 0; padding: 0; background-color:#F5F9FF;">
    <center>
      <table style="width: 80%; margin: auto;">
        <table align="center"; bgcolor="#F5F9FF" border="0" cellpadding="0" cellspacing="0" class="wrapper" class="container">
          <tbody>
            <tr>
              <td>
                <table  align="center" width="600" border="0" cellpadding="0" cellspacing="0">

                  <tr>
                    <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <tr>
                    <td align="center" valign="top">
                      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                        <tr>
                          <td align="center" valign="top">
                            <%= link_to root_url do %>
                              <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1561899995/Logo_FMA-01.png" width="150" border="0" alt="Financer Mon Autonomie">
                            <% end %>
                          </td>
                        </tr>


                      </table>
                    </td>
                  </tr>

                  <tr>
                  <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
                  </tr>

                </table>
              </td>
            </tr>

          </tbody>
        </table>


        <table style="border-radius: 1px;" align="center"; bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" class="wrapper" class="container">
          <tbody>

            <tr>
              <td height="70" style="font-size:70px; line-height:70px;" class="mobileOn">&nbsp;</td>
            </tr>

            <tr>
              <td>
                <table  align="center" width="600" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
                      Bonjour <%= @resource.first_name %>,<br>
                    </td>
                  </tr>

                  <tr>
                    <td height="15" style="font-size:15px; line-height:15px;" class="mobileOn">&nbsp;</td>
                  </tr>

                    <!-- Message du mail -->

                  <tr>
                    <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
                      Vous souhaitez réinitialiser votre mot de passe ? Si c'est le cas, suivez <span style="font-weight:bold;">le lien ci-dessous</span> pour finaliser cette action.
                    </td>
                  </tr>

                  <tr>
                    <td height="30" style="font-size:30px; line-height:30px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <tr>
                    <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; font-style:italic; text-align: left; font-size: 14px; color:rgba(0,0,0,.6); line-height: 22px;">
                      Lien de réinitialisation:
                    </td>
                  </tr>


                    <!-- Nom du mail -->
                  <tr>
                    <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #000; line-height: 22px;">

                      <%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token),style:"color:#2675E5; text-decoration:underline;", target: "_blank" %>
                    </td>
                  </tr>

                  <tr>
                    <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
                  </tr>


                  <tr>
                    <td align="left" valign="top" style="letter-spacing:0.025em; padding:0px 40px 0px 40px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; font-size: 16px; color: #182335; line-height: 22px;">
                      À bientôt,<br>
                      L'équipe de Financer Mon Autonomie.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
            </tr>

          </tbody>
        </table>
  <table align="center"; bgcolor="#2675E5" border="0" cellpadding="0" cellspacing="0" class="wrapper" class="container">
          <tbody>
            <tr>
              <td>
                <table  align="center" width="600" border="0" cellpadding="0" cellspacing="0">

                  <tr>
                    <td height="40" style="font-size:40px; line-height:40px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <!-- Logo footer -->

                  <tr>
                    <td align="center" valign="top">
                      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                        <tr>
                          <td align="center" valign="top">
                            <%= link_to root_url do %>
                              <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1561899995/Logo_FMA-03.png" width="107" border="0" alt="Financer Mon Autonomie">
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td height="20" style="font-size:20px; line-height:20px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <!-- Message footer -->

                  <tr>
                    <td align="center" valign="top" style="letter-spacing:.05em; padding:0px 20px 0px 20px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: center; font-size: 14px; color: #D8DDF2; line-height: 18px;">
                      Nous transformons des décisions complexes en situations agréables grâce à notre expertise humaine et une technologie intuitive.
                    </td>
                  </tr>

                  <tr>
                    <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <tr>
                    <td align="center" valign="top" style="letter-spacing:.05em; padding:0px 20px 0px 20px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: center; font-size: 14px; color: #D8DDF2; line-height: 18px;">
                      FMA, 8 rue de la Porte, 97370 Sucy-en-Brie, France
                    </td>
                  </tr>

                  <tr>
                    <td height="30" style="font-size:30px; line-height:30px;" class="mobileOn">&nbsp;</td>
                  </tr>

                  <!-- Réseaux sociaux footer -->

                  <tr>
                    <td align="center" valign="top" style="font-size:30px; line-height:30px; vertical-align: top; text-align: -webkit-center; display: table-cell;">
                      <a href="#" style="font-size:10px; text-decoration: none; padding:0px 10px 0px 10px;">
                        <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1552640497/facebook-5.png" width="10" border="0" alt="Facebook">
                      </a>
                      <a href="#" style="font-size:10px; text-decoration: none; padding:0px 10px 0px 10px;">
                        <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1552640496/linkedin-06.png" width="18" border="0" alt="Linkedin">
                      </a>
                      <a href="#" style="font-size:10px; text-decoration: none; padding:0px 10px 0px 10px;">
                        <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1552640496/instagram-06.png" width="17" border="0" alt="Instagram">
                      </a>
                      <a href="#" style="font-size:10px; text-decoration: none; padding:0px 10px 0px 10px;">
                        <img src="https://res.cloudinary.com/dftixsglp/image/upload/v1552640494/youtube-06.png" width="24" border="0" alt="Youtube">
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td height="30" style="font-size:30px; line-height:30px;" class="mobileOn">&nbsp;</td>
                  </tr>
                  <!-- Mentions footer -->
                  <tr>
                    <td align="center" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-align: center; font-size: 12px; color: #D8DDF2; line-height: 14px;">
                      <a href="#" style="color: #D8DDF2; text-align: center; text-decoration: none;" target="_blank">
                              CGU & CGV &nbsp;|&nbsp;
                      </a>
                      <a href="#" style="color: #D8DDF2; text-align: center; text-decoration: none;" target="_blank">
                              Protection des données &nbsp;|&nbsp;
                      </a>
                      <a href="#" style="color: #D8DDF2; text-align: center; text-decoration: none;" target="_blank">
                              Contact
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td height="70" style="font-size:70px; line-height:70px;" class="mobileOn">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Espace fin de footer -->
        <table>
          <tbody>
            <tr>
              <td height="10" style="font-size:10px; line-height:10px;" class="mobileOn">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </table>
    </center>
